body{
    font-family:'Open Sans', sans-serif;
}

.div1{
    float: left;
    width: 400px;
    height: 400px;
    background: -webkit-radial-gradient(20% 40%, closest-side, red 10%, indigo 30%, brown 60%);
    background: -O-radial-gradient(20% 40%, closest-side, red 10%, indigo 30%, brown 60%);
    background: -moz-radial-gradient(20% 40%, closest-side, red 10%, indigo 30%, brown 60%);
    background: radial-gradient(closest-side at 20% 40%, red 10%, indigo 30%, broWn 60%);
}

.div2{
    float: right;
    width: 400px;
    height: 400px;
    background: -webkit-radial-gradient(20% 40%, farthest-side, red 10%, indigo 30%, brown 60%);
    background: -o-radial-gradient(20% 40%, farthest-side, red 10%, indigo 30%, brown 60%);
    background: -moz-radial-gradient(20% 40%, farthest-side, red 10%, indigo 30%, brown 60%);
    background: radial-gradient(farthest-side at 20% 40%, red 10%, indigo 30%, brown 60%);
}  