body{
    font-family:'Open Sans', sans-serif;
}

.div1{
    height: 380px;
    width: 500px;
    background-color: #a52a2a;
    border: 15px ridge black;
    border-radius: 10px;
    box-shadow: -5px -5px 10px black;
}

.p1{
    height: 100px;
    width: 200px;
    background-color: greenyellow;
    border-width: 3px;
    border-style: inset;
    border-color: blueviolet;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 4px 3px 7px black inset;
}