body{
    font-family: 'Open sans',sans-serif;
}

h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
} 

.p1{
    text-align: right;
    text-transform: lowercase;
    text-decoration: overline;
}

.p2{
    text-transform: capitalize;
    text-decoration: line-through;
}

a{
    text-decoration: none;
}