body{
    font-family: 'Open Sans', sans-serif;
}

.div1{
    height: 250px;
    width: 500px;
    background-color: #5f9;
    border-bottom: 15px right black;
    border-right: 10px groove black;
}

.p1{
    height: 200px;
    width: 50%;
    background-color: #7fff00;
    border-width: 3px;
    border-style: dashed;
    border-color: indigo;
}