body{
    font-family:'Open Sans', sans-serif;
}

.div1{
    float: left;
    width:400px;
    height: 400px;
    background: -webkit-linear-gradient(rgba(98, 0, 255, 0.801), rgba(245,245,245,1) );
    background: -o-linear-gradient(rgb(0, 60, 255), rgb(245, 245, 245));
    background: -moz-linear-gradient(rgb(98, 0, 255), rgba(245,245,245,1));
    background: linear-gradient(rgb(38, 0, 255), rgba(245,245,245,1));
}

.div2{
    background: -webkit-radial-gradient(circle, red, indigo,brown);
    background: -o-radial-gradient(circle,red,indigo,brown);
    background: -moz-radial-gradient(circle,red,indigo,brown);
    background: radial-gradient(circle,red,indigo,brown);
}