body{
    font-family: 'Open Sans', sans-serif;
}

.div1{
    background-color: blue;
    width: 500px;
    height: 400px;
    z-index: 100;
    float: right;
}

h1{
    z-index: 1000;
    float: left;
}

.p1{
    left: 50px;
    float: right;
}

.p2{
    clear: right;
}