body{
    font-family: 'Open Sans', sans-serif;
}

.div1{
    height: 300px;
    width: 500px;
    background-color: burlywood ;
    border: 15px ridge black;
    border-radius: 10px;
    padding: 100px 20px 50px 130px;
}

.p1{
    height: 100px;
    width: 50%;
    background-color: greenyellow;
    border-width: 3px;
    border-style: inset;
    border-color: indigo;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 100px;
    padding-left: 70px;
}