body{
    font-family: 'Open Sans', sans-serif;
}

.div1{
    height:300px;
    width:500px;
    background-color: #ffa500;
    border: 15px ridge black;
    border-radius: 10px;
}

.p1{
    height: 80px;
    width: 40%;
    background-color: red;
    border-top-width: 3px;
    border-top-style: dashed ;
    border-top-color: indigo;
}