body{
    font-family: 'Open Sans', sans-serif;
}

.div1{
    height: 400px;
    width: 600px;
    background-color: #4b0082;
    border: 15px ridge black;
    border-radius: 10px;
    margin: 100px 50px;
}

.p1{
    height: 100px;
    width: 50%;
    background-color: yellow;
    border-width: 3px;
    border-style: inset;
    border-color: brown;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 120px;
    padding-left: 50px;
    margin-top: 100px;
}